# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# --------------------------------------------------------------------
# claude settings
.claude/tmp
.claude/settings.local.json

# spike paths
tools/spike/
tools/surfer/
tools/install/

# local temp copies - optional
versions

# decoder
rtl/core/frontend/decode/obj_dir_dec
rtl/core/frontend/decode/obj_dir_exp
rtl/core/frontend/decode/obj_dir_pre

# bpu

rtl/core/frontend/bpu/coverage/
rtl/core/frontend/bpu/coverage_annot_bpu/

rtl/core/frontend/bpu/obj
rtl/core/frontend/bpu/obj_dir_cov_history
rtl/core/frontend/bpu/obj_dir_cov_loop_pred
rtl/core/frontend/bpu/obj_dir_cov_tage
rtl/core/frontend/bpu/obj_dir_cov_tage_table
rtl/core/frontend/bpu/obj_dir_cov_ubtb
rtl/core/frontend/bpu/obj_hist
rtl/core/frontend/bpu/obj_ittage/
rtl/core/frontend/bpu/obj_ittage_cntrl/
rtl/core/frontend/bpu/obj_ittage_table/
rtl/core/frontend/bpu/obj_loop_pred
rtl/core/frontend/bpu/obj_tage
rtl/core/frontend/bpu/obj_tage_fast
rtl/core/frontend/bpu/obj_tage_manual/
rtl/core/frontend/bpu/obj_tage_table
rtl/core/frontend/bpu/obj_tage_tasks/
rtl/core/frontend/bpu/obj_ubtb

# lib
rtl/lib/obj_dir

# fst files
rtl/core/frontend/bpu/*.fst
# --------------------------------------------------------------------
# docs
site/
