# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# --------------------------------------------------------------------
# claude settings
.claude/tmp
.claude/settings.local.json

# local temp copies - optional
versions

# spike paths
tools/spike/build/
tools/spike/install/
tools/install/

# decoder
rtl/core/frontend/decode/obj_dir_dec
rtl/core/frontend/decode/obj_dir_exp
rtl/core/frontend/decode/obj_dir_pre
# --------------------------------------------------------------------
# docs
site/
